/*全体適応*/
h2 .sentence{
    justify-content: center;
}
/*header*/
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
h1{
    text-align: center;
}
.sns-logo{
    display: flex;
    gap: 40px;
    text-align: right;
}
.logo{
    width: 40px;
    height: 40px;
}
/*body*/
main{
    max-width: 880px;
    margin: 64px auto 88px auto;
    text-align: center;
}
.img{
    width: 500px;
    border: 2px solid pink;
    text-align: left;
}
h2{
    text-align: center;
    margin-top: 80px;
}
.sentence{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
button{
    cursor: pointer;
    appearance: none;
    background-color: pink;
    border: 0;
    border-radius: 5px;
    background: pink;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    min-width: 112px;
}
button:hover{
    background: rgb(177, 123, 132);
}
button:focus{
    outline:none;
    box-shadow: 0 0 0 4px rgb(214, 175, 181);
}
.button-box{
    display: flex;
    gap: 24px;
}
/*footer*/
p{
    text-align: center;
}